.app-root {
  width: 100vw;
  height: 100vh;
}
.scanner-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #d4af37;
}
.fade-blur-enter-active,
.fade-blur-leave-active {
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.fade-blur-enter-from,
.fade-blur-leave-to {
  opacity: 0;
  filter: blur(15px);
}