.sticky-header {
  flex-shrink: 0;
}

.scroll-area {
  flex: 1;
  overflow-y: auto;
  padding: 1rem 5%;
  margin: 1rem 0;
  text-align: justify;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  :deep(h2) {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: block;
      color: #c2c2c2;
  }

  :deep(article) {
    margin: 2rem 0;
    color: #c2c2c2;
  }
  :deep(a){
    color: #c2c2c2;
  }
}

.sticky-footer {
  flex-shrink: 0;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.fixed-layout {
  display: flex;
  flex-direction: column;
  height: 100dvh; /* Uses dynamic viewport height for mobile browsers */
  padding: 2rem 0;
  box-sizing: border-box;
}
