
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 90vw;
  max-width: 400px;
  opacity: 1;
}

/* Inherits from standard primary button styles */
.content-layer {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  h1 {
    color: $gold;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px rgba($gold, 0.5);
  }
  article{
    p{
      text-align:justify;
    }
  }
  .options-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Breathing space between buttons/dropdowns */
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .back-btn {
    margin-top: 3rem;
  }
}

h1 {
  color: $gold;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba($gold, 0.5);
  margin-bottom: 2rem;
}

.gold-text { color: $gold; margin-bottom: 1rem; }